# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("ABCD", 1234, "TRUE", 1.2345)

ABCD 1234 TRUE 1.2345

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("ABCD",1234,"TRUE",1.2345, sep='-')

ABCD- 1234 -TRUE- 1.2345

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [11]:
print("ABCD",end=' ')
print(1234, end=' ')
print("TRUE", end=' ')
print(1.234, end=' ')

ABCD 1234 TRUE 1.234

4) Can a python print function take no value to print???

In [ ]:
No

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [13]:
name = "Mr. Ahmed"
age = 30
prof = "Lawyer"
qual = "Bachelors in Law"
firm = 'The Himalya Associates'
height = "5.10 feets"
weight = "70600g"
income = "Rs. 200k PKR"

print("""One of my friends name is {}. He is {} years old. He is a {} by profession. 
He has done his {} in the year 2005. 
He is working with a reputable law firm {} in Karachi since 2015. 
He is a handsome lawer with height of {} and weight {}. His monthly income is {}.""".format(name,age,prof,qual,firm,height,weight,income))

One of my friends name is Mr. Ahmed. He is 30 years old. He is a Lawyer by profession.
He has done his Bachlors in Law in the year 2005.
He is working with a reputable law firm The Himalya Associates in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [14]:
cur= 2022
pas= 2005
print(cur-pas)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [15]:
cur= 2022
join= 2015
print(cur-join)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [16]:
pkr = 200000
usd = pkr / 230
print(usd)

869.5652173913044

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [1]:
def check_user_input(input):
    try:
        val = int(input)
        print("Income in integer is  = ", val)
    except ValueError:
        try:
            val = float(input)
            print("Income in float is = ", val)
            value=int(val)
            print(f"Income Converted to integer: {value}")
        except ValueError:
            print("No.. input is not a number. It's a string")

input1 = input("Enter Number: ")
check_user_input(input1)

Enter Number: 48.3
Input is a float  number=  48.3
Converted to integer: 48

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [49]:
weight = 70600
print(type(weight))
weight = weight/1000
print(int(weight))

<class 'int'>
70

11) print the year of birth of Mr. Ahmed.

In [47]:
cur= 2022
age= 30
print(cur-age)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [48]:
if 100%6==0:
    print("YES")
else:
    print("No")

No